.usuario-section {
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.usuario-title {
    color: #000;
    font-size: 24px;
    margin-bottom: 10px;
}

.usuario-content {
    color: #000;
    font-size: 16px;
}